name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-2025

    steps:
    - uses: actions/checkout@v5

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          6.0.x
          8.0.x
          9.0.x

    - name: Remove ASP.NET sample
      run: dotnet sln serilog-sinks-elmahio.sln remove examples\Serilog.Sinks.ElmahIo.AspNet\Serilog.Sinks.ElmahIo.AspNet.csproj

    - name: Install dependencies
      run: dotnet restore

    - name: Check for vulnerable packages
      shell: bash
      run: |
        set -e # This will cause the script to exit on the first error
        OUTPUT=$(dotnet list src/Serilog.Sinks.ElmahIo/Serilog.Sinks.ElmahIo.csproj package --vulnerable)
        echo "$OUTPUT"
        if echo "$OUTPUT" | grep -q 'no vulnerable packages'; then
          echo "No vulnerable packages found"
        else
          if echo "$OUTPUT" | grep -q 'vulnerable'; then
            echo "Vulnerable packages found"
            exit 1
          fi
        fi

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test
      run: dotnet test --no-restore --verbosity normal

    - name: Pack
      run: dotnet pack --configuration Release src/Serilog.Sinks.ElmahIo/Serilog.Sinks.ElmahIo.csproj /p:Version=5.3.${{ github.run_number }}

    - name: Install dotnet-validate
      run: dotnet tool install --global dotnet-validate --version 0.0.1-preview.537

    - name: Validate
      run: dotnet validate package local src/Serilog.Sinks.ElmahIO/bin/Release/Serilog.Sinks.ElmahIo.5.3.${{ github.run_number }}.nupkg

    - name: Push
      run: dotnet nuget push src/Serilog.Sinks.ElmahIo/bin/Release/Serilog.Sinks.ElmahIo.5.3.${{ github.run_number }}.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
      if: ${{ github.event_name == 'push' }}
